      <ion-list>
        <ion-item button (click)="monitoreo()">
          <ion-icon slot="end" name="eye"></ion-icon>
          <ion-label>Monitoreo</ion-label>
        </ion-item>
        <ion-item button (click)="publicar()"> 
          <ion-icon slot="end" name="eye"></ion-icon>
          <ion-label>Publicar</ion-label>
        </ion-item>
        <ion-item button (click)="mensajes()">
          <ion-icon slot="end" name="eye"></ion-icon>
          <ion-label>Mensajes</ion-label>
        </ion-item>
        <ion-item button (click)="reportes()">
          <ion-icon slot="end" name="eye"></ion-icon>
          <ion-label>Reportes</ion-label>
        </ion-item>
        <ion-item button (click)="administracion()" >
          <ion-icon slot="end" name="eye"></ion-icon>
          <ion-label>Administración</ion-label>
        </ion-item>
        <ion-item button (click)="cerrarSesion()">
          <ion-icon slot="end" name="eye"></ion-icon>
          <ion-label>Cerrar Sesión</ion-label>
        </ion-item>
      </ion-list>
    