<ion-header>
        <ion-toolbar>
          <ion-avatar slot="start">
            <img src="/assets/logo.png" />
          </ion-avatar>
          
          <ion-buttons slot="end">
            <ion-button (click)="onClickM()" [fill] ="btSelectM" shape="round">
             Map
            </ion-button>
            <ion-button (click)="onClickS()" [fill] ="btSelectS"   shape="round">
             Sat
            </ion-button>
            <ion-button (click)="onClickH()" [fill] ="btSelectH" shape="round">
              Hib
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      
      <ion-content class="ion-padding">
        
       <ion-grid fixed>
          <ion-row>
            <ion-col size="4">
              <app-lateral></app-lateral>
            </ion-col>
            <ion-col size="8">
              <div id="map" ></div>
              <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJ6jdBlk2rzwCtW-YETggCQmPQo5vN_oc&callback=initMap"></script>
      
              
      
      
            </ion-col>
          </ion-row>
        </ion-grid>
      
         
       
           
       
      </ion-content>
      <app-footer></app-footer>