  <ion-tabs>
    <!-- Tab bar -->
    <ion-tab-bar slot="bottom">
      <ion-tab-button >
        <ion-icon name="ellipse-sharp"></ion-icon>
              
      </ion-tab-button>
  
      <ion-tab-button >
        <ion-icon name="ellipse-sharp"></ion-icon>
        
      </ion-tab-button>
  
      <ion-tab-button >
        <ion-icon name="ellipse-sharp"></ion-icon>
       
      </ion-tab-button>
  
      <ion-tab-button >
        <ion-icon name="ellipse-sharp"></ion-icon>
        
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
