  <ion-footer>
    <ion-toolbar>
      <ion-tabs>
        <!-- Tab bar -->
        <ion-tab-bar slot="bottom">
          <ion-tab-button [selected]="seleccion1" >
            <ion-icon name="ellipse-sharp"></ion-icon>
                  
          </ion-tab-button>
      
          <ion-tab-button [selected]="seleccion2">
            <ion-icon name="ellipse-sharp"></ion-icon>
            
          </ion-tab-button>
      
          <ion-tab-button [selected]="seleccion3">
            <ion-icon name="ellipse-sharp"></ion-icon>
           
          </ion-tab-button>
      
          <ion-tab-button [selected]="seleccion4">
            <ion-icon name="ellipse-sharp"></ion-icon>
            
          </ion-tab-button>
          <ion-tab-button [selected]="seleccion5">
            <ion-icon name="ellipse-sharp"></ion-icon>
            
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-toolbar>
  </ion-footer>

  
