<ion-header>
  <ion-toolbar>
    <ion-avatar slot="start">
      <img src="/assets/logo.png" />
    </ion-avatar>
    
    <ion-buttons slot="end">
      <ion-button (click)="onClickN()" [fill] ="btSelectN" shape="round">
       Nuevo
      </ion-button>
      <ion-button (click)="onClickE()" [fill] ="btSelectE"   shape="round">
       Editar
      </ion-button>
      <ion-button (click)="onClickD()" [fill] ="btSelectD" shape="round">
        Borrar
      </ion-button>
      <ion-button (click)="onClickB()" [fill] ="btSelectB" shape="round">
        Buscar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="4">
        <app-lateral></app-lateral>
      </ion-col>
      <ion-col size="8">

        <form (ngSubmit)="crearUsuario(formulario)" #formulario="ngForm" >
        
                
        <ion-row>
          <ion-col>
            
              <ion-list>
                
                <ion-item>
                  <ion-label>Cuil</ion-label>
                  <ion-input name="cuil"
                            required
                            type="text"
                            [(ngModel)]="guia.cuil"
                             ></ion-input>
                </ion-item>
  
                <ion-item>
                  <ion-label>Apellido</ion-label>
                  <ion-input name="apellido"
                             type="text"
                             [(ngModel)]="usuario.apellido"
                             ></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label>Nombre</ion-label>
                    <ion-input name="nombre"
                               type="text"
                               [(ngModel)]="usuario.nombre"
                               ></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label>Dirección</ion-label>
                    <ion-input name="direccion"
                               type="text"
                               [(ngModel)]="usuario.domicilio"
                               ></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label>Ciudad</ion-label>
                    <ion-input name="ciudad"
                               type="text"
                               [(ngModel)]="usuario.ciudad"
                               ></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label>Teléfono</ion-label>
                    <ion-input name="telefono"
                               type="text"
                               [(ngModel)]="usuario.telefono"
                               ></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label>EMail</ion-label>
                    <ion-input name="email"
                               type="email"
                               [(ngModel)]="guia.email"
                               ></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label>Password</ion-label>
                    <ion-input name="password"
                               type="password"
                               [(ngModel)]="guia.password"
                               ></ion-input>
                  </ion-item>
  
                  <ion-item>
                    <ion-label>Nro. Habilitación</ion-label>
                    <ion-input name="habilitacion"
                               type="number"
                               [(ngModel)]="guia.nroHabiliatacion"
                               ></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label>Alta Habilitación</ion-label>
                    <ion-input name="altaHabilitacion"
                               type="date"
                               [(ngModel)]="guia.fHabilitacion"
                               ></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label>Vencimiento Habilitación</ion-label>
                    <ion-input name="vtoHabilitacion"
                               type="date"
                               [(ngModel)]="guia.vtoHabilitacion"
                               ></ion-input>
                  </ion-item>
  
              </ion-list>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-button type="submit"
                        color="tertiary"
                        shape="round">
            Registrar
          </ion-button>
        </ion-col>
      </ion-row>
   
    </form>

      </ion-col>
    </ion-row>
  </ion-grid>
        

      </ion-content>
<app-footer indice="5"></app-footer>
