

  img{
      width: 10% !important;
      height: 10% !important;
      align-content: center !important;
  }
  .leida{
    display: flex;
    flex-direction: column;
    width: 75% !important;
    margin: 5 !important;
    background-color:rgb(21, 236, 14);
  }

  .nueva{
   
        display: flex;
        flex-direction: column;
        width: 75% !important;
        margin: 5 !important;
        background-color:gold;
      
  }