<ion-header>
  <ion-toolbar>
    <ion-avatar slot="start">
      <img src="/assets/logo.png" />
    </ion-avatar>
    
    <ion-buttons slot="end">
      <ion-button (click)="onClickM()" [fill] ="btSelectM" shape="round">
       <ion-icon slot="icon-only" name="add" ></ion-icon>
      </ion-button>
      <ion-button (click)="onClickS()" [fill] ="btSelectS"   shape="round">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="onClickH()" [fill] ="btSelectH" shape="round">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="onClickB()" [fill] ="btSelectB" shape="round">
        <ion-icon slot="icon-only" name="search-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
 <ion-grid fixed >
    <ion-row>
      <ion-col size="4">
        <app-lateral></app-lateral>
      </ion-col>
      <ion-col size="8" *ngIf="btSelectM=='solid'">
        
        <form (ngSubmit)="crearPublicacion(formulario)" #formulario="ngForm">
        
                
          <ion-row>
            <ion-col>
              
                <ion-list>
                  
                  <ion-item>
                    <ion-label position="floating">Título</ion-label>
                    <ion-input name="titulo"
                    required
                    [(ngModel)]="publicacion.titulo"
                              type="text"
                               ></ion-input>
                  </ion-item>
    
                  <ion-item>
                    <ion-label >Fecha de Vencimiento</ion-label>
                    <ion-input name="venc"
                    [(ngModel)]="publicacion.fechaVto"
                               type="date"
                               ></ion-input>
                  </ion-item>
  
                  <ion-item>
                   
                    <ion-icon lazy="true" slot="start" name="cloud-upload-outline"></ion-icon>
                    <ion-label slot="end">Subir imagen</ion-label>
                    <input type="file" (change)="loadImageFromDevice($event)" id="file-input"
                      accept="image/png, image/jpeg">
                  </ion-item>
                  
                  <ion-item>
                    <ion-label>Nota</ion-label>
                    <ion-textarea [(ngModel)]="publicacion.cuerpo" [ngModelOptions]="{standalone: true}" rows="6" cols="20" placeholder="Escribir cuerpo de la noticia aquí..." 
                   ></ion-textarea>
                  </ion-item>
    
                </ion-list>
            </ion-col>
          </ion-row>
          
          <ion-row>
            <ion-col class="ion-text-center">
              <ion-button type="submit"
                          color="tertiary"
                          shape="round">
              Guardar Publicación
            </ion-button>
          </ion-col>
        </ion-row>
     
      </form>

        


      </ion-col>
      <ion-col size="8" *ngIf="btSelectB=='solid'">

        <ion-list>
          <ion-item>

            <ion-label >Fecha </ion-label>
            <ion-datetime [(ngModel)]="fechaBuscar" (ionChange)="buscarPorFecha()"></ion-datetime>


          </ion-item>
        </ion-list>
        
      </ion-col>
    </ion-row>
  </ion-grid>

   
 
     
 
</ion-content>
<app-footer indice="2"></app-footer>